<!DOCTYPE html>
<html>
<body>
    <div>
        <h3>비밀번호 변경</h3>
    </div>
    <form method="POST" action="{% url 'main:changepw' %}">
    <table>
        {% csrf_token %}
            <tr>
                <th>현재 비밀번호</th>
                <td><input type="password" name="origin_pw"></td>
            </tr>
            <tr>
                <th>신규 비밀번호</th>
                <td><input type="password" name="pw1"></td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td><input type="password" name="pw2"></td>
            </tr>
    </table>
        <div>
            <input type="submit" value="확인">
            <button onclick="window.close();">취소</button>
        </div>
    </form>
    {%if error %}
    <p> {{error}} </p>
    {% endif %}
</body>
</html>
